*{
    background-color: black !important;
}

.box{
    background-color: white !important;
    height: 95vh !important;
    width: 95vw !important;
    display: flex !important;
    flex-wrap: wrap !important;
    margin: auto auto auto auto !important;
    border-radius: 18px !important;
    margin-top: 16px !important;
    z-index: 2 !important;
    box-shadow: 2px 2px 24px 5px blue !important;
    justify-content: center !important;
    align-items: center !important;
}

.text{
    color: black !important;
    background-color: white !important;
    font-size: 300% !important;
    text-shadow: 2px 2px 2px blue !important;
    text-align: center !important;
}

